<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Mi Proyecto de Reconocimiento Facial</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">   
    <h1>BIOMETRIKASS</h1>
 <!-- Button to Capture Faces -->
 <a href="{% url 'reconfacial1:capturar_rostros' %}">
    <button>Capturar Rostros</button>
</a>

<!-- Button to Train Recognition Model -->
<a href="{% url 'reconfacial1:llamar_borrar_datos_xml' %}">
    <button>BORRAR DATOS XML</button>
</a>

<!-- Button to Recognize Faces -->
<a href= "{% url 'reconfacial1:reconocer' %}">
    <button>Reconocer Rostros</button>
</a>
 <!-- jQuery y Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </div>
 <!-- Tu script personalizado -->
 <script>
   // Agrega tu script personalizado aquí
 </script>
</body>
</html>
