<!-- reconoceRostros.html -->
{% extends "base_generic.html" %}

  {% block title %}
RECONOCE_ROSTROS.HTML
{% endblock %}
 
      {% block content %} 
        <h1>RECONOCER ROSTROS 1</h1>
        <!-- Botón para capturar rostros -->
        
      <!-- Botón para ENTRENAR -->
      
   <!-- Botón para RECONOCER rostros -->
<form method="post" action="{% url 'reconfacial1:reconociendo' %}">
  {% csrf_token %}
  <input type="hidden" name="action" value="reconocer_rostros">
  <button type="submit" class="btn btn-primary mb-3">RECONOCER</button>
</form>
     
{% endblock %}    
    